@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
  --color-primary: #164070;
  --animate-spin: spin 1s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

.badge {
  @apply w-fit text-base bg-gray-300 px-4 py-2 rounded-sm uppercase;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway Variable", sans-serif;
  font-display: swap;
  margin: 0;
  width: 100%;
  height: 100vh;
}

#image-slider {
  .splide__pagination {
    bottom: -2rem;
  }

  .splide__pagination__page.is-active {
    background-color: #414141;
  }
}


p {
  font-weight: 300;
  max-width: 80ch;
}

@media (reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}