---
import Section from "@/layouts/Section.astro";

import Carousel from "./Carousel.astro";
const { currentLocale } = Astro;
const { i18n } = Astro.props;
---

<Section id={currentLocale === 'es' ? 'equipo' : 'team'}>
    <div
        class="max-w-screen-xl mx-auto flex flex-col gap-12 py-10 lg:py-20 px-5"
    >
        <div
            class="flex flex-col lg:flex-row justify-between gap-4 items-start lg:items-center"
        >
            <h1 class="badge font-semibold">
                {i18n.TEAM_TITLE}
            </h1>
            <h2 class="text-xl lg:text-3xl font-light text-gray-600">
                {i18n.TEAM_SUBTITLE}
            </h2>
        </div>
        <Carousel />
    </div>
</Section>
