---
import MenuBurger from "./MenuBurger.astro";
import { NAV } from "@/types/nav";
import NavLink from "./NavLink.astro";
import LanguageSelector from "./LanguageSelector";

const { currentLocale } = Astro;

const email = "info@asancuslegal.com";
---

<header>
    <nav
        id="nav-bar"
        class="bg-white fixed lg:top-3 z-20 w-full max-w-screen-xl lg:mx-auto lg:left-0 lg:right-0 lg:rounded-xl"
    >
        <div
            class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
        >
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img
                    src="https://flowbite.com/docs/images/logo.svg"
                    class="h-8"
                    alt="Flowbite Logo"
                />
            </a>
            <div
                class="items-center justify-between hidden w-full lg:flex lg:w-auto"
            >
                <ul class="flex flex-row gap-10">
                    {
                        NAV.map((link) => (
                            <li>
                                <NavLink
                                    {...link}
                                    class="hover:text-gray-500 transition ease-in duration-300 font-normal text-base block py-2 px-3 lg:p-0 lg:hover:bg-transparent"
                                />
                            </li>
                        ))
                    }
                </ul>
            </div>

            <LanguageSelector currentLocale={currentLocale} client:load/>

            <div class="flex space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button
                    type="button"
                    class="cursor-pointer rounded-lg bg-primary px-4 py-2 text-sm text-white hover:bg-white hover:border-slate-300 border-1 hover:text-primary hover:scale-105 transition duration-300 ease-in"
                >
                    <a href=`mailto:${email}`>{email}</a>
                </button>
            </div>
            <MenuBurger />
        </div>
    </nav>
</header>

<style>
    @media (min-width: 1280px) {
        header > nav {
            animation: blur linear both 5s;
            animation-timeline: scroll();
            animation-range: 0 300px;
            width: 1280px;
        }

        @keyframes blur {
            to {
                backdrop-filter: blur(20px);
                background: rgba(255, 255, 255, 0.2);
                width: 1140px;
            }
        }
    }
</style>
