---
import MenuBurger from "./MenuBurger.astro";
import { NAV } from '@/types/nav';
---

<header>
    <nav id="nav-bar" class="bg-white fixed top-0 start-0 z-20 w-full">
        <div
            class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
        >
            <a
                href="https://flowbite.com/"
                class="flex items-center space-x-3 rtl:space-x-reverse"
            >
                <img
                    src="https://flowbite.com/docs/images/logo.svg"
                    class="h-8"
                    alt="Flowbite Logo"
                />
            </a>
            <div
                class="items-center justify-between hidden w-full lg:flex lg:w-auto"
            >
                <ul
                    class="flex flex-row gap-10"
                >
                    {
                        NAV.map(({ title, url }) => (
                            <li>
                                <a
                                    href={url}
                                    class="hover:text-gray-500 transition ease-in duration-300 font-normal text-base block 
                            py-2 px-3 lg:p-0 text-black lg:hover:bg-transparent"
                                >
                                    {title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="flex space-x-3 md:space-x-0 rtl:space-x-reverse">
                <button
                    type="button"
                    class="rounded-lg bg-primary px-4 py-2 text-sm text-white"
                >
                    <a href="mailto:info@asancuslegal.com"
                        >info@asancuslegal.com</a
                    >
                </button>
            </div>
            <MenuBurger />
        </div>
    </nav>
</header>
