---
import Section from "@/layouts/Section.astro";

const title = "Porque cada caso merece atención personalizada";
const paragraph =
    "Garantizamos transparencia y comunicación constante durante todo el proceso legal.";
const email = "info@asancuslegal.com";
---

<Section>
    <div class="relative flex min-h-150 xl:min-h-180 bg-primary">
        <div
            class="relative z-10 flex flex-col justify-center gap-8 max-lg:p-4 text-white lg:w-1/2 lg:bg-navy-900 lg:items-end lg:flex-wrap"
        >
            <div class="flex flex-col gap-6 min-xl:max-w-screen-sm lg:px-12">
                <h1 class="text-2xl md:text-4xl">
                    {title}
                </h1>
                <p>
                    {paragraph}
                </p>
                <button
                    type="button"
                    class="cursor-pointer w-full rounded-lg border px-8 py-3 md:w-fit hover:bg-white hover:text-primary hover:scale-105 transition duration-300 ease-in"
                >
                    {email}
                </button>
            </div>
        </div>

        <div class="absolute inset-0 lg:relative lg:w-1/2">
            <div class="absolute inset-0 bg-black/40"></div>
            <div
                class="h-full bg-[url(/src/assets/img/hero.webp)] bg-cover bg-center"
            >
            </div>
        </div>
    </div>
</Section>
