---
import Section from "@/layouts/Section.astro";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Section>
    <div
        class="h-full w-full bg-[url(/src/assets/img/asancuslegal-hero.webp)] bg-cover bg-center"
    >
        <div
            class="py-36 lg:py-72 opacity-0 transform translate-y-10 transition-all duration-3000 ease-in"
            id="hero-content"
        >
            <div class="max-w-screen-md mx-auto text-center flex flex-col gap-4 justify-center items-center">
                <h1 class="text-2xl md:text-4xl text-white text-balance">
                    {i18n.HERO_TITLE}
                </h1>
                <p class="text-white">
                    {i18n.HERO_PARAGRAPH}
                </p>
                <button
                    type="button"
                    class="w-fit cursor-pointer rounded-sm border px-6 py-2 md:w-fit bg-white hover:bg-primary hover:text-white hover:scale-105 transition duration-300 ease-in"
                >
                    {i18n.HERO_EMAIL}
                </button>
            </div>
        </div>
    </div>
</Section>

<script>
    document.addEventListener("astro:page-load", () => {
        setTimeout(() => {
            const heroContent = document.getElementById("hero-content");
            if (heroContent) {
                heroContent.classList.remove("opacity-0", "translate-y-10");
                heroContent.classList.add("opacity-100", "translate-y-0");
            }
        }, 1000);
    });
</script>
