---
const { id, url, class: className } = Astro.props;

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<a id={id} href={url} class={className || ""}>
    {Object.entries(i18n.NAV).map(([value]) => ({ value }))}
</a>
